.login {
    margin: 0px auto;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.login .login_title{
    margin: 0px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 18px;
    background-color: #00a2ff;
    width: 20%;
    margin: 0 auto;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    color: white;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
}

.login .login_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-top: 32px;
    border: 1px solid rgba(0, 0, 0, 0.342);
    border-radius: 16px;
    width: 30%;
    height: 60%;
}

.login .login_form input{
    width: 300px;
    height: 30px;
    font-size: 18px;
}

.login .login_form label{
    font-size: 18px;
    padding-bottom: 2px;
    padding-top: 16px;
}

.login .login_form .login_btn{
    margin-top: 24px;
    width: 100px;
    height: 32px;
    font-size: 18px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.281);
    background-color: #fade4d;
    cursor: pointer;
}