:root {
    --clr-primaryBlue: rgb(0, 162, 255);
    --clr-btnYellow: #fade4d;
}

.distance {
    margin: auto 50px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-primaryBlue);
    height: 60px;
}

.header .logo {
    width: 74px;
}

.header .logo .logo_img {
    width: 100%;
}

.header .header_nav {
    display: flex;
}

.header .nav,
.header .nav_register {
    display: flex;
    list-style: none;
    gap: 28px;
}

.header .nav {
    padding-left: 0px;
    margin-left: -16px;
    align-items: center;
}

.header .nav li a,
.header .nav_register li a {
    text-decoration: none;
    color: black;
}

.header .nav li a:hover {
    text-decoration: underline;
    /* color: black;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93,
        -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93,
        -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93,
        -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93,
        -8px 7px #cdd2d5; */
}

.header .nav_register li a:hover {
    text-decoration: underline;
}

.signUp {
    border-radius: 50px;
    padding: 2px 18px;
    background-color: var(--clr-btnYellow);
}

.userInfo {
    display: flex;
    gap: 6px;
    align-items: center;
    border: 1px solid black;
    border-radius: 16px;
    padding: 2px 12px;
    box-shadow: inset 2px 3px 10px 0px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: inset 2px 3px 10px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: inset 2px 3px 10px 0px rgba(0, 0, 0, 0.65);
    color: white;
    text-shadow: 1px 1px 1px black;
}

.userInfo .userInfo_type {
    text-transform: uppercase;
}
