.teachers {
    /* background: radial-gradient(
        circle,
        rgba(250, 222, 77, 1) 0%,
        rgba(252, 251, 184, 1) 100%
    ); */
    /* background: rgb(250, 222, 77); */
    background: radial-gradient(
        circle,
        rgba(250, 222, 77, 1) 0%,
        rgba(0, 162, 255, 1) 100%
    );
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 91vh;
}


.distance {
    margin: auto 50px;
}

.teachers .teachers_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    margin-top: 42px;
    margin-bottom: 42px;
    
}

.teachers .header {
    margin: 0 auto;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    overflow: hidden;
}

.teachers .header .title,
.teachers .header .slogan {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: rgb(59, 59, 59);
    background-color: rgb(0, 162, 255);
    width: 274px;
    color: #fade4d;
    color: white;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
}

.teachers .header .title {
    padding-top: 20px;
}

.teachers .header .slogan {
    padding-bottom: 12px;
}

.teachers .image_wrapper {
    width: 50%;
    padding: 4px 12px;
    height: 80%;

}

.teachers .image_wrapper .image {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.teachers .teacher_card {
    width: 398px;
    height: 315px;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid rgb(114, 114, 114);
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.65);
    background-color:#fade4d;
}

.teachers .teacher_card .teacher_content {
    width: 50%;
    padding: 8px 4px;
}

.teachers .teacher_card .teacher_content .teacher_name {
    margin: 0px;
    padding-bottom: 6px;
}

.teachers .teacher_card .teacher_content .teacher_subject {
    margin: 0px;
    padding-bottom: 6px;
}

.teachers .teacher_card .teacher_content .teacher_desc {
    margin: 0px;
    padding-bottom: 6px;
}

.teachers .teacher_card .teacher_content .teacher_contacts {
    margin: 0px;
    padding-bottom: 6px;
    margin-bottom: 6px;
}

.teachers .teacher_card .teacher_content .teacher_price {
    margin: 0px;
    padding-bottom: 6px;
}

.teachers .teacher_card .teacher_content .teacher_details {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin-left: 106px;
    padding: 4px 8px;
    background-color: rgb(0, 162, 255);
    border-radius: 6px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}

.teachers .teacher_card .teacher_content .teacher_details:hover{
    text-decoration: underline;
    color: rgb(214, 214, 214);
    text-shadow: 1px 1px 1px black;
}


.teachers_noTeachers{
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
    padding-top: 32px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 14px;
    overflow: hidden;
    box-shadow: inset 2px 3px 16px 0px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: inset 2px 3px 16px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: inset 2px 3px 16px 0px rgba(0, 0, 0, 0.65);
    width: 400px;
    height: 80px;
}

.pages{
    margin: 0 auto;
    margin-bottom: 18px;
}

.pages button{
    margin-right: 8px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    background-color: #fade4d;
    box-shadow: inset 2px 3px 16px 0px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: inset 2px 3px 16px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: inset 2px 3px 16px 0px rgba(0, 0, 0, 0.65);
    border: none;
    cursor: pointer;
}

.pages .active {
    box-shadow:  2px 3px 16px 0px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow:  2px 3px 16px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow:  2px 3px 16px 0px rgba(0, 0, 0, 0.65);
    width: 46px;
    height: 46px;
}